<a href="https://colab.research.google.com/github/TeeMDee/HDSC-Introduction-to-Python-for-machine-learning/blob/master/Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import files

In [17]:
file = files.upload()

Saving foodb.csv to foodb.csv

In [19]:
import io
import pandas as pd

In [22]:
df = pd.read_csv(io.BytesIO(file['foodb.csv']))

In [25]:
df.tail(10)

       Area Code      Area  Item Code  ...  Y2016  Y2017  Y2018
60933        181  Zimbabwe       2899  ...  33.00  15.00  16.00
60934        181  Zimbabwe       2899  ...   0.00  -4.00   0.00
60935        181  Zimbabwe       2899  ...   0.00   0.00   1.00
60936        181  Zimbabwe       2899  ...  33.00  19.00  16.00
60937        181  Zimbabwe       2899  ...   0.00   0.00   0.00
60938        181  Zimbabwe       2899  ...  33.00  19.00  16.00
60939        181  Zimbabwe       2899  ...   2.35   1.33   1.08
60940        181  Zimbabwe       2899  ...   3.00   1.00   1.00
60941        181  Zimbabwe       2899  ...   0.08   0.04   0.04
60942        181  Zimbabwe       2899  ...   0.03   0.02   0.01

[10 rows x 12 columns]

In [33]:
#Question 11(a)
df.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [34]:
#Question 11(b)
df.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [94]:
#Question 12 ---- The Meanacross the whole dataset for 2015
df['Y2015'].mean()

135.23596649549236

In [95]:
#Question 12 ---- The Stand Deviation across the whole dataset for 2015
df['Y2015'].std()

1603.4039839423301

In [41]:
#Question13 Total number of missimg data in 2016
df['Y2016'].isnull().sum()

1535

In [53]:
#Question13 Percentage of missing data in 2016

528499.8469055374

In [ ]:
#Question 14

In [58]:

#Questin 15---The highest sum of Import Quality
df.groupby('Element')['Y2014'].sum()
df.groupby('Element')['Y2015'].sum()
df.groupby('Element')['Y2016'].sum()
df.groupby('Element')['Y2017'].sum()

#Year 2017 has the highest sum of Import Quantity

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [59]:

# Question 16 ----The total number of the sum of production in 2014? 
df.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [61]:
#Question 17 ---- Elemsnts with the highest sum in Year 2018
df.groupby('Element')['Y2018'].sum()

#The highest of the sum of these elements is Domestic Supply Quantity with a total of 2161192.10

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [65]:
#Question 18 --- The 3rd lowest sum of the elements in 2018
df.groupby('Element')['Y2018'].sum()

# Seed is the 3rd lowest element in Y2018

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [75]:
#The total Import Quantity in Algeria in 2018
df.groupby(['Area'],)[['Element','Y2018']].sum()

                           Area       Y2018
0                       Algeria   341729.98
1                        Angola   235206.68
2                         Benin   124960.70
3                      Botswana    23129.08
4                  Burkina Faso   112970.72
5                  C?e d'Ivoire   227018.00
6                    Cabo Verde    14622.60
7                      Cameroon   233022.93
8      Central African Republic    30101.57
9                          Chad    72282.24
10                      Comoros       59.84
11                        Congo    42005.53
12                     Djibouti    23718.96
13                        Egypt   852652.92
14                     Eswatini    55045.07
15                     Ethiopia   450788.86
16                 Ethiopia PDR        0.00
17                        Gabon    28339.38
18                       Gambia    23513.80
19                        Ghana   358915.64
20                       Guinea   103262.08
21                Guinea-Bissau    18997.92
22                        Kenya   270916.80
23                      Lesotho    19109.23
24                      Liberia    29629.83
25                   Madagascar   134576.44
26                       Malawi   187366.09
27                         Mali   159026.42
28                   Mauritania   157479.95
29                    Mauritius    47150.91
30                      Morocco   399271.27
31                   Mozambique   164934.05
32                      Namibia    29350.04
33                        Niger   133982.86
34                      Nigeria  1499774.24
35                       Rwanda    74839.08
36        Sao Tome and Principe    12806.49
37                      Senegal    95493.82
38                   Seychelles      442.34
39                 Sierra Leone    55981.73
40                 South Africa   509787.97
41                        Sudan   268054.39
42               Sudan (former)        0.00
43                         Togo    54872.00
44                      Tunisia   127343.17
45                       Uganda   222147.25
46  United Republic of Tanzania   349763.41
47                       Zambia   101604.27
48                     Zimbabwe    76581.41

In [93]:
#Question 20 --- The total number of unique countries in the dataset
df.groupby('Area')['Area'].count()

# There are 49 unique countries in the dataset

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
C?e d'Ivoire                   1467
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64